body {
  margin: 0px;
  /* background-color: #dccfed; */
  text-align: center;
}

#main-heading {
  color: #000000;
  font-size: 2em;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
}

#gameCanvas {
  border: 5px solid whitesmoke;
  background-color: #1b0324;
  /*  width: 40%;
  height: 550px; */
}
